body { font-family: Cambria, Georgia, serif}
h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Georgia, serif;
  font-weight: bold;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }

/*Hyperlink*/

a {
    color: #2780e3;
    text-decoration: none;
}

/*Bảng*/

table {
    border-collapse: collapse;
    max-width:100%;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    table-layout: auto;
}

th, td {
    text-align: left;
    padding: 5px;
    white-space: auto;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #2c3e50;
    color: white;
    border-bottom: 1px solid #666;
}

/*Block quote*/
blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    font-size: 15px;
    font-style: italic;
    border-left: 5px solid #2c3e50;
}